<template>
    <button @click="onClick" class="myButton">
        <slot>Custom Button</slot>    
    </button> 
</template>
<script>
    export default{
        props:{
            onClick: {
                type: Function,
                required: true
            }
        }
    }
</script>
<style scoped>
.myButton{
  background-color: #61e4ca;
  border: none;
  color: white;
  padding: 15px 30px;
  margin: 15px;
  text-align: center;
  text-decoration: capitalize;
  display: inline-block;
  font-size: 1.2em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  transition-duration: 2s;
  -webkit-transition-duration: 2s;

  border-radius: 30px;
}

.myButton :hover{
  background-color: #33b3ac;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 30px;
}
</style>
