
<template>

  <div>

    <h1>Aby zobaczyc harmonogram spłat podaj dane o swoim kredycie:</h1>

    <div>
      <div class="frameData">
        <label>Suma kredytu</label>
        <input class="inputData" type="number" placeholder="wprowadz sume kredytu" v-model="sumaKredytu">
      </div>
      <div class="frameData">
        <label>Ilość rat</label>
        <input class="inputData" type="number" placeholder="wprowadz liczbe rat" v-model="liczbaRat">
      </div>
      <div class="frameData">
        <label>Wysokość oprocentowania</label>
        <input class="inputData" type="number" placeholder="wprowadz oprocentowanie" v-model="oprocentowanie">
      </div>
      
      
      <!--<button class="subButton" v-on:click="wypiszRaty">Sprawdz dla rat malejacych</button>-->
      <v-button :onClick="wypiszRaty">Pokaż harmonogram</v-button>

    </div>

    <h2>Harmonogram spłat kredytu o powyższych parametrach:</h2>
    <p class="subtext">*Harmonogram zakłada niezmienną stopę WIBOR podczas całego okresu kredytowania.</p>
    <p id="rataShow"></p>
    <table>
      <thead>
        <tr>
          <th>Nr</th>
          <th>Rata</th>
          <th>Częśc kapitalowa</th>
          <th>Odsetki</th>
          <th>Pozostało do spłaty</th>
          <th>Nadpłata w danym miesiacu</th>
        </tr>
      </thead>
      <tbody id="tableBodyCredit">
        <tr v-for="r in raty" :key="r">
          <td>{{r}}</td>
          <td>{{rata[r].toFixed(2)}}</td>
          <td>{{kapital[r].toFixed(2)}}</td>
          <td>{{odsetki[r].toFixed(2)}}</td>
          <td>{{pozostalo[r].toFixed(2)}}</td>
          <td><input class="inputDataInTable" type="number" placeholder="0" v-model.number="nadplaty[r]"></td>
        </tr>
      </tbody>
      <tfoot>
          <tr>
            <td>Sum</td>
            <td>{{sumaRata.toFixed(2)}}</td>
            <td>{{sumaKapital.toFixed(2)}}</td>
            <td>{{sumaOdsetki.toFixed(2)}}</td>
            <td>-</td>
            <td>{{sumaNadplat.toFixed(2)}}</td>
          </tr>
      </tfoot>

    </table>
    <!--<button class="subButton" v-on:click="przeliczWysokoscRat">Przelicz wysokość rat uwzględniając nadpłaty</button>-->
    <v-button :onClick="przeliczWysokoscRat">Przelicz wysokość rat uwzględniając nadpłaty</v-button>
    <input id="kwotaNadplatyInput" type="number" v-model.number="nadplata">
    
    <!--<button class="subButton" v-on:click="dodajNadplate">Dodaj nadplate do wszystkich pol</button>-->
    <v-button :onClick="dodajNadplate">Dodaj nadplate do wszystkich pol</v-button>
    </div>
</template>

<script>
'use strict'
import Button from './Button.vue'

export default {
  name: 'Kalkulator',
  components: {
    'v-button': Button
  },
  data() {
    return{
      liczbaRat: 10,
      sumaKredytu: 10000,
      oprocentowanie: 0.1,
      raty: [],
      rata: [],
      kapital: [],
      odsetki: [],
      pozostalo: [],
      nadplaty: [],
      sumaRata: 0,
      sumaKapital: 0,
      sumaOdsetki: 0,
      sumaNadplat: 0,
      sumaDotychczasowychNadplat: 0,
      nadplata: 0,
    }
  },

  methods:{

    wypiszRate: function(numerRaty){
      //var rataMal = (this.sumaKredytu/this.liczbaRat) * (1 + (this.liczbaRat - numerRaty + 1) * (this.oprocentowanie/12));
      var rataMal = this.wypiszCzescKapitalowa() + this.wypiszOdsetki(numerRaty-1);
      return rataMal
      
    },
    wypiszCzescKapitalowa: function(){
      var kap = this.sumaKredytu / this.liczbaRat;
     // this.kapital.push(kap);
      return kap
      
    },
    wypiszToCoPozostalo: function(numerRaty, czescKapitalowa){
      var poz = (this.sumaKredytu - ((numerRaty-1) * czescKapitalowa)) - czescKapitalowa;
      this.pozostalo.push(poz)
    },
    wypiszOdsetki: function(numerRaty){
      var ods = this.pozostalo[numerRaty] * this.oprocentowanie * (30.0/360.0)
      return ods
    },
    wypiszSumeRat: function(){
      for(var elRata = 1; elRata < this.rata.length; elRata++){
        this.sumaRata += parseFloat(this.rata[elRata]);
      }
    },
    wypiszSumeKapitalu: function(){
      for(var elKapital = 1; elKapital < this.kapital.length; elKapital++){
        this.sumaKapital += parseFloat(this.kapital[elKapital]);
      }
    },
    wypiszSumeOdsetek: function(){
      for(var elOdsetki = 1; elOdsetki < this.odsetki.length; elOdsetki++){
        this.sumaOdsetki += parseFloat(this.odsetki[elOdsetki]);
      }
    },
    wypiszSumeNadplat: function(){
      for(var elNadplata = 1; elNadplata < this.nadplaty.length; elNadplata++){
        this.sumaNadplat += this.nadplaty[elNadplata];
      }
    },
    dodajNadplate: function(){
      for(let elNad = 1; elNad < this.nadplaty.length; elNad++){
        this.nadplaty[elNad] = this.nadplata;
      } 
    },



    wypiszRaty: function(){
      this.raty = [];
      this.rata = [];
      this.kapital = [];
      this.odsetki = [];
      this.pozostalo = [];
      this.sumaRata = 0;
      this.sumaKapital = 0;
      this.sumaOdsetki = 0;
      this.sumaNadplat = 0;
      this.nadplaty = [];

      for(var nrRaty=0; nrRaty<=this.liczbaRat; nrRaty++){
        this.nadplaty.push(0);
        if (nrRaty === 0){
           
           var biezacyKapital = this.wypiszCzescKapitalowa();
           this.kapital.push(biezacyKapital);
           this.wypiszToCoPozostalo(nrRaty, biezacyKapital);
           this.odsetki.push(this.wypiszOdsetki(nrRaty));
           this.rata.push(this.wypiszRate(nrRaty)); 
        }else{
            this.raty.push(nrRaty)
            
            //this.wypiszCzescKapitalowa();
            this.odsetki.push(this.wypiszOdsetki(nrRaty-1));
            var biezacyKapital = this.wypiszCzescKapitalowa();
            this.kapital.push(biezacyKapital);
            this.wypiszToCoPozostalo(nrRaty, biezacyKapital);   
            this.rata.push(this.wypiszRate(nrRaty)); 
        }
      }

      //sumowanie elementow tablicy i dodanie do pola sumy na koncu tabeli
      this.wypiszSumeRat();
      this.wypiszSumeKapitalu();
      this.wypiszSumeOdsetek();
      this.wypiszSumeNadplat();
    
      
    },

    przeliczWysokoscRat: function(){
      this.raty = [];
      this.rata = [];
      this.kapital = [];
      this.odsetki = [];
      this.pozostalo = [];
      this.sumaRata = 0;
      this.sumaKapital = 0;
      this.sumaOdsetki = 0;
      this.sumaDotychczasowychNadplat = 0;
     
        

      for(var nrRaty=0; nrRaty<=this.liczbaRat; nrRaty++){
        

        if (nrRaty === 0){
           var biezacyKapital = this.wypiszCzescKapitalowa();
           this.kapital.push(biezacyKapital);
           this.wypiszToCoPozostalo(nrRaty, biezacyKapital);
           this.odsetki.push(this.wypiszOdsetki(nrRaty));
           this.rata.push(this.wypiszRate(nrRaty)); 

        }else{
         this.raty.push(nrRaty)
            if(this.nadplaty[nrRaty] > 0){
                this.odsetki.push(this.wypiszOdsetki(nrRaty-1));
                var biezacyKapital = this.wypiszCzescKapitalowa();
                this.kapital.push(biezacyKapital);
                var poz = this.pozostalo[nrRaty - 1] - this.wypiszCzescKapitalowa()  - this.nadplaty[nrRaty];
                this.pozostalo[nrRaty] = poz;
                this.rata.push(this.wypiszRate(nrRaty)); 
                
            }else{
              this.odsetki.push(this.wypiszOdsetki(nrRaty-1));
                var biezacyKapital = this.wypiszCzescKapitalowa();
                this.kapital.push(biezacyKapital);
                var poz = this.pozostalo[nrRaty - 1] - this.wypiszCzescKapitalowa()  - this.nadplaty[nrRaty];
                this.pozostalo[nrRaty] = poz;
                this.rata.push(this.wypiszRate(nrRaty)); 
            }  
        }
      }

      //sumowanie elementow tablicy i dodanie do pola sumy na koncu tabeli
      this.wypiszSumeRat();
      this.wypiszSumeKapitalu();
      this.wypiszSumeOdsetek();
      this.wypiszSumeNadplat();

    },
    consoleClick() {
      console.log('Button clicked')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Poppins');

template{
  text-align: center;
  widows: 80%;
  background-color:#20202049;
  font-family: 'Poppins' sans-serif;
}
h1{
  font-size: 1.5em;
  font-variant: small-caps;
}
h2{
  font-size: 1.2em;
  font-variant: small-caps;
}
label{
  display: block;
  line-height: 1.1em;
  padding: 5px;
}
table{
  table-layout: fixed;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
}
table, th, td{
  margin: 0 auto;
  width: 60%;
  
}
th{
  font-size: 0.95em;
}
tr{
  box-shadow: 0 4px 2px 0 rgba(0,0,0,0.1), 0 4px 2px 0 rgba(0,0,0,0.1);
}
td{
  font-size: 0.9em;
}
tfoot{
  font-weight: bold;
}
.inputData{
  margin: 0 auto;
  display: block;
  text-align: center;
  line-height: 1.2em;
  padding: 15px;
}
.inputDataInTable{
  text-align: center;
  color: #16e9de;
  line-height: 1.1em;
  padding: 5px;
  width: 50px;
  border-radius: 15px;
}
.frameData{
  width: 50%;
  margin: 0 auto; 
  padding: 10px;
}
.subButton{
  background-color: #61e4ca;
  border: none;
  color: white;
  padding: 15px 30px;
  margin: 15px;
  text-align: center;
  text-decoration: capitalize;
  display: inline-block;
  font-size: 1.2em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  transition-duration: 2s;
  -webkit-transition-duration: 2s;

  border-radius: 30px;
}

.subButton:hover{
  background-color: #33b3ac;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 30px;
}

.subtext{
  font-size: 0.7em;
}


@media screen and (max-width: 360px){
  table{
    table-layout: fixed;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  table, th, td{
    margin: 0 auto;
    width: 95%;
    
  }
  th{
    font-size: 0.6em;
  }
  tr{
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.1), 0 4px 2px 0 rgba(0,0,0,0.1);
  }
  td{
    font-size: 0.6em;
  }
}
</style>
