
<template>

  <div>

    <h1>Aby wyliczyc zysk z lokaty podaj:</h1>

    <div>
      <div class="frameData">
        <label>Kwota</label>
        <input class="inputData" type="number" placeholder="wprowadz sume kredytu" v-model="kwota">
      </div>
      <div class="frameData">
        <label>Dlugosc trwania lokaty (w miesiacach)</label>
        <input class="inputData" type="number" placeholder="wprowadz liczbe rat" v-model="okres">
      </div>
      <div class="frameData">
        <label>Wysokość oprocentowania (w %)</label>
        <input class="inputData" type="number" placeholder="wprowadz oprocentowanie" v-model="oprocentowanie">
      </div>
 
    </div>

    <h2>Kwota osiagnieta po założonym czasie to {{zysk}}.</h2><br/>
    <p class="subtext">*kwota uwzględnia podatek - 19%.</p>


    
    </div>
</template>

<script>
'use strict'
export default {
  name: 'Lokata',
  data() {
    return{
      kwota: 10000,
      okres: 12,
      oprocentowanie: 3
    }
  },

  computed:{
    zysk: function(){
       return (this.kwota * (this.oprocentowanie/100) * (this.okres/12.0)) - ((this.kwota * (this.oprocentowanie/100) * (this.okres/12.0) * 0.19));
    }
  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Poppins');

template{
  text-align: center;
  widows: 80%;
  background-color:#20202049;
  font-family: 'Poppins' sans-serif;
}
h1{
  font-size: 1.5em;
  font-variant: small-caps;
}
h2{
  font-size: 1.2em;
  font-variant: small-caps;
}
label{
  display: block;
  line-height: 1.1em;
  padding: 5px;
}
table{
  table-layout: fixed;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
}
table, th, td{
  margin: 0 auto;
  width: 60%;
  
}
th{
  font-size: 0.95em;
}
tr{
  box-shadow: 0 4px 2px 0 rgba(0,0,0,0.1), 0 4px 2px 0 rgba(0,0,0,0.1);
}
td{
  font-size: 0.9em;
}
tfoot{
  font-weight: bold;
}
.inputData{
  margin: 0 auto;
  display: block;
  text-align: center;
  line-height: 1.2em;
  padding: 15px;
}
.inputDataInTable{
  text-align: center;
  color: #16e9de;
  line-height: 1.1em;
  padding: 5px;
  width: 50px;
  border-radius: 15px;
}
.frameData{
  width: 50%;
  margin: 0 auto; 
  padding: 10px;
}
.subButton{
  background-color: #61e4ca;
  border: none;
  color: white;
  padding: 15px 30px;
  margin: 15px;
  text-align: center;
  text-decoration: capitalize;
  display: inline-block;
  font-size: 1.2em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  transition-duration: 2s;
  -webkit-transition-duration: 2s;

  border-radius: 30px;
}

.subButton:hover{
  background-color: #33b3ac;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 30px;
}

.subtext{
  font-size: 0.7em;
}


@media screen and (max-width: 360px){
  table{
    table-layout: fixed;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  table, th, td{
    margin: 0 auto;
    width: 95%;
    
  }
  th{
    font-size: 0.6em;
  }
  tr{
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.1), 0 4px 2px 0 rgba(0,0,0,0.1);
  }
  td{
    font-size: 0.6em;
  }
}
</style>
