
<template>

    <div class="fullApp">
        <h1>To Do List</h1>
        <el-row>
            <el-col :span="24">
                <!-- <div class="grid-content"> -->
                    <input class="inputText" type="text" placeholder="wprowadz rzecz do zrobienia" v-model="toDoItem" v-on:keyup.enter="addToList">
                <!-- </div> -->
            </el-col>
         <!-- <el-input  type="text" placeholder="Please input" v-model="toDoItem" v-on:keyup.enter="addToList"></el-input><br />  -->
        </el-row>
            <div class="toDoesBorder">
                <div v-for="(item, index) in toDo" :key="index">
                    <div class="toDoCheckboxes" >
                        <!-- <div class="toDoCheckboxField"><input id="isChecked" type="checkbox" placeholder="cos do zrobienia" v-model="toDo[item]"></div> -->
                        <!-- <div class="toDoCheckboxLabel"><label>{{item}}</label></div> -->

                        <!-- "toDoChecked[index]" jak bez index to zadziala nie na true i false ale na wartosciach -->
                        <div class="toDoCheckbox">
                            <div class="checkboxGroup">
                                <!-- <div class="toDoCheckboxField"><input :id="'id_' + index" :value="item" type="checkbox" placeholder="cos do zrobienia" v-model="toDo[index].isChecked"></div>
                                <div class="toDoCheckboxLabel"><label for="id">{{item.text}}</label></div> -->
                                <div class="rowLayout">
                                <el-row justify="space-between">
                                    
                                    <el-col :span="18">
                                           <el-checkbox v-model="toDo[index].isChecked">{{item.text}}</el-checkbox>
                                    </el-col>
                                    
                                    <el-col :span="6">
                                            <el-button-group>
                                                <el-button type="base" icon="el-icon-circle-plus" circle v-on:click="showSubTaskField(index)"></el-button>
                                                <el-button type="base" icon="el-icon-delete" circle v-on:click="$delete(toDo, index)"></el-button>
                                            </el-button-group>
                                    </el-col>
                                </el-row>
                            </div>
                            </div>
                                <div class="toDoSubCheckbox">
                                    <!-- zamiast doDo[index] mozna napisac po prpostu item.showSubTaskInput -->
                                    <!-- todo[index] === item -->
                                    <div class="inputField" v-if="toDo[index].showSubTaskInput">
                                        <input class="inputSubText" type="text" placeholder="wprowadź podzadanie" v-model="toDoSubItem" v-on:keyup.enter="addSubTask(index)" />
                                    </div>

                                    <div v-for="(subItem, subIndex) in toDo[index].subItemList" :key="subIndex">   
                                        <div class="checkboxGroup">
                                            <!-- <div class="toDoSubCheckboxField"><input :id="'idSub_' + subIndex" :value="subItem" type="checkbox" placeholder="cos do zrobienia" v-model="toDo[index].subItemList[subIndex].subIsChecked" @click="zaznaczPoleGlowne(index, $event)"></div>                        
                                            <div class="toDoSubCheckboxLabel"><label for="id">{{subItem.text}}</label></div> -->
                                            <el-checkbox v-model="toDo[index].subItemList[subIndex].subIsChecked" @change="zaznaczPoleGlowne(index, $event)">{{subItem.text}}</el-checkbox>
                                            <el-button type="base" icon="el-icon-delete" circle v-on:click="$delete(toDo[index].subItemList, subIndex)"></el-button>
                                        </div>
                                    </div>  
                                </div>
                        </div>
                    </div>
                </div>
                <div class="sumOfTasks">
                    <div><p>Wszystko: {{wszystko}}. Wykonane: {{wykonane}}. Pozostało: {{pozostalo}}</p></div>
                </div>
            </div>
    </div>
</template>

<script>
'use strict'
export default {
  name: 'WordpressPost',
  data() {
    return{
        toDoItem: '',
        toDo: [],
        toDoSubItem: '',
    }
  },
  methods:{
      addToList: function(){
          this.toDo.push({text: this.toDoItem, isChecked: false, subItemList: [], showSubTaskInput: false})
          this.toDoItem = ""
      },
      showSubTaskField: function(index){
        this.toDo[index].showSubTaskInput = true;
        // item.showSubTaskInput =true;
      },
      addSubTask: function(index){
        
        this.toDo[index].subItemList.push({text: this.toDoSubItem, subIsChecked: false})
        this.toDoSubItem = ""
      },

      zaznaczPoleGlowne: function(index, event){
          let sumOfCheckedInSingleEvent = 0;
          let lengthOfSubItemList = this.toDo[index].subItemList.length;
          

            if(event.target.checked === true){
               for(let isChecked of this.toDo[index].subItemList){
                    if(isChecked.subIsChecked === true){
                        sumOfCheckedInSingleEvent += 1
                    }  
                }
            }
            
            

          console.log(sumOfCheckedInSingleEvent)
          console.log(lengthOfSubItemList)
        
          if(sumOfCheckedInSingleEvent === lengthOfSubItemList-1){
              this.toDo[index].isChecked = true
          }else{
              this.toDo[index].isChecked = false
          }
      },
      checkboxClicked: function(event){
          debugger;
          console.log(event.target.value);
      },
  },
  computed:{
      wszystko: function(){
          let sum = this.toDo.length;
          return sum
      },

      pozostalo: function(){
          let sumOfUnchecked = 0
          for( let isChecked of this.toDo){
              if(isChecked.isChecked === false){
                  sumOfUnchecked +=1;
              }
          }
          return sumOfUnchecked
      },

      wykonane: function(){ 
        let sumOfChecked = 0;
        for(let isChecked of this.toDo){
            if(isChecked.isChecked === true){
                sumOfChecked += 1;
            }
        }
        return sumOfChecked
      },
      
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1{
        padding: 20px;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
    }
    .fullApp{
        box-sizing: border-box;
        position: relative;
        top: 10px;
        height: auto;
        width: 50%;
        margin: auto;
        background-color: white;
        padding: 40px;
    }
    .inputField{
        margin: 0px;
    }
    .inputText{
        position: relative;
        display: block;
        padding: 20px;
        width: 90%;
        margin: 10px auto 10px auto;
        border-radius: 5px;
        border: 4px groove rgba(160, 161, 161, 0.39);
    }
    .inputSubText{
        position: relative;
        display: block;
        padding: 5px;
        width: 90%;
        margin: 10px auto;
        border-radius: 5px;
        border: 4px groove rgba(160, 161, 161, 0.39);
    }
    .toDoesBorder{
        position: relative;
        border: 4px ridge rgba(151, 224, 224, 0.062);
        width: 99%;
        margin: auto;
        padding: 1px;
        /* top: 90%; */
    }
    .toDoCheckboxes{
        position: relative;
        color: rgba(63, 62, 62, 0.877);
        /* padding: 2px; */
        border: 1px groove rgba(155, 236, 230, 0.336);
        display: flex;
        -webkit-box-align: center;
    }
    .toDoCheckbox{
        position: relative;
        color: rgba(63, 62, 62, 0.877);
        width: 99%;
        border: 1px groove rgba(155, 236, 230, 0.336);
        display: block;
        -webkit-box-align: center;
    }
    .toDoSubCheckbox{
        position: relative;
        color: rgba(63, 62, 62, 0.877);
        /* padding: 2px; */
        border: 1px groove rgba(155, 236, 230, 0.336);
        display: block;
        -webkit-box-align: center;
    }
    .checkboxGroup{
        display: flex;
        position: relative;
    }
    .toDoCheckboxField{
        position: relative;
        width: 10%;
        left: 0px;
        display: block;
        cursor: pointer;
    }
    .toDoSubCheckboxField{
        position: relative;
        width: 10%;
        left: 20px;
        display: inline-block;
        cursor: pointer;
        order: 1;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-around;
    }
    .toDoCheckboxLabel{
        position: relative;
        width: 80%;
        left: 5px;
        display: block;
        flex: 1;
        -webkit-box-flex: 1;
    }
    .toDoSubCheckboxLabel{
        position: relative;
        width: 89%;
        left: 5px;
        display: block;
        flex: 1;
        -webkit-box-flex: 1;
        order: 1;
        flex-direction: row;
        flex-grow: 3;
        justify-content: space-around;
    }
    .sumOfTasks{
        display: inline;
        font-size: 12px;

    }
    .subRemoveButton{
        position: absolute;
        right: 20px;
        display: inline;
        background-color: rgba(60, 60, 60, 0);
        border: none;
        color: rgb(60, 60, 60);
        order: 1;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-around;
    }
    
    .rowLayout{
        position: relative;
        display: flex;
        width: 100%;
    }
    .el-row{
        width: 100%;  
    }
    .el-col{
        text-align: left;
    }

</style>
