
<template>

    <div class="fullApp">
        <h1>To Do List</h1>

        <input class="inputText" type="text" placeholder="wprowadz rzecz do zrobienia" v-model="toDoItem" v-on:keyup.enter="addToList"> <br />
            <div class="toDoesBorder">
                <div v-for="(item, index) in toDo" :key="index">
                    <div class="toDoCheckbox" >
                        <!-- <div class="toDoCheckboxField"><input id="isChecked" type="checkbox" placeholder="cos do zrobienia" v-model="toDo[item]"></div> -->
                        <!-- <div class="toDoCheckboxLabel"><label>{{item}}</label></div> -->

                        <!-- "toDoChecked[index]" jak bez index to zadziala nie na true i false ale na wartosciach -->
                        <div class="toDoCheckboxField"><input :id="'id_' + index" :value="item" type="checkbox" placeholder="cos do zrobienia" v-model="toDoChecked[index]"></div>
                        <div class="toDoCheckboxLabel"><label for="id">{{item}}</label></div>
                    </div>
                </div>
                <div class="sumOfTasks">
                    <div><p>Wszystko: {{wszystko}}. Wykonane: {{wykonane}}. Pozostało: {{pozostalo}}</p></div>
                    <span>{{toDoChecked}}</span>
                </div>
            </div>
    </div>
</template>

<script>
'use strict'
export default {
  name: 'WordpressPost',
  data() {
    return{
        toDoItem: '',
        toDo: [],
        toDoChecked: [],
    }
  },
  methods:{
      addToList: function(){
          this.toDo.push(this.toDoItem)
          this.toDoChecked.push(false)
          this.toDoItem = ""
      },
  },
  computed:{
      wszystko: function(){
          let sum = this.toDo.length;
          return sum
      },

      pozostalo: function(){
          let sumOfUnchecked = 0
          for( let isChecked of this.toDoChecked){
              if(isChecked === false){
                  sumOfUnchecked +=1;
              }
          }
          return sumOfUnchecked
      },

      wykonane: function(){ 
        let sumOfChecked = 0;
        for(let i=0; i <= this.toDoChecked.length; i++){
            if(this.toDoChecked[i] === true){
                sumOfChecked += 1;             
            }
        }
        return sumOfChecked
      }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1{
        padding: 20px;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
    }
    .fullApp{
        box-sizing: border-box;
        position: relative;
        top: 10px;
        height: auto;
        width: 50%;
        margin: auto;
        background-color: white;
        padding: 40px;
    }
    .inputText{
        position: relative;
        padding: 20px;
        width: 90%;
        margin: 10px auto 10px auto;
        border-radius: 5px;
        border: 4px groove rgba(160, 161, 161, 0.39);
    }
    .toDoesBorder{
        position: relative;
        border: 4px ridge rgba(151, 224, 224, 0.062);
        width: 99%;
        margin: auto;
        padding: 1px;
        /* top: 90%; */
    }
    .toDoCheckbox{
        position: relative;
        color: rgba(63, 62, 62, 0.877);
        /* padding: 2px; */
        border: 1px groove rgba(155, 236, 230, 0.336);
    }
    .toDoCheckboxField{
        position: absolute;
        width: 10%;
        /* left: 0px; */
    }
    .toDoCheckboxLabel{
        position: relative;
        width: 89%;
        left: 25px;
    }
    .sumOfTasks{
        display: inline;
        font-size: 12px;

    }

</style>
