
<template>

  <div>

    <h1>Nagłówek dla tego posta to:</h1>
        <h2 v-for="post in posts">
            {{post.title.rendered}}
            <br/>
            <!-- moglam uzyc v-bind:href lub samego :href-->
           <!--<a :href="'/wordpressposts/' + post.id">{{post.content.rendered}}</a>-->
           <!--<a :href="'/wordpressposts/' + post.id">{{post.content.rendered.replace(/(<([^>]+)>)/ig, '')}}</a>-->
           <a :href="'/wordpressposts/' + post.id"><span v-html="post.content.rendered"></span></a>
           
        </h2>  
    </div>
</template>

<script>
'use strict'
export default {
  name: 'WordpressPosts',
  data() {
    return{
        posts: [],
        tytul: '',
        result: '',
    }
  },
  methods:{
      
      fetchPosts(){
          let url = 'http://localhost/wordpress/wp-json/wp/v2/posts/';
          fetch(url, {mode: 'cors'})
            .then(resp => resp.json())
            .then(json => {
                console.log(json)
                this.posts = json

                //ponizsze 5 linijek do zamiany na regex ale nie wiem jak polaczyc
                // json.forEach(post => {
                // var content = `${post.content.rendered}`;
                // var result = content.replace(regex, '');
                // console.log(result)
                // })

                
                
                // json.forEach(post =>{
                //     console.groupCollapsed(`Post ${post.id}`)
                //     console.log(`Tytul: ${post.title.rendered}`);
                //     console.log(`Content: ${post.content.rendered}`);
                //     console.groupEnd();

                // })
            })
      }
  },

  mounted: function(){
      this.fetchPosts()
  },


}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
