
<template>

    <div>

    <!--{{$route.params.id}}-->

    <h2>{{post.title.rendered}}</h2>
    <p>{{post.content.rendered.replace(/(<([^>]+)>)/ig, '')}}</p>

    <br />

    <span v-for="comment in comments">
        <h3>{{comment.author_name}}</h3>
        <p><span v-html="comment.content.rendered"></span></p>
    </span>
    
    </div>
</template>

<script>
'use strict'
export default {
  name: 'WordpressPost',
  data() {
    return{
        post: {title:{}, content:{ rendered:""}},
        //tablica moze byc pusta ale chodzi o cos takiego jak ponizej
        //comments: [{author_name: {}, content:{rendered:""}}],
        comments: [],
    }
  },
  methods:{
      fetchPost(){      
          let path = this.$route.params.id;
          //console.log(path)
          let url = 'http://localhost/wordpress/wp-json/wp/v2/posts/' + path;

          fetch(url, {mode: 'cors'})
          .then(resp => resp.json())
          .then(json =>{
           // console.log(json)
            this.post = json
  
          })
          
      },

      fetchComments(){
          let postId= this.$route.params.id;
          let urlComments = `http://localhost/wordpress/wp-json/wp/v2/comments?post=${postId}`;

          fetch(urlComments, {mode: 'cors'})
          .then(resp => resp.json())
          .then(json =>{
            console.log(json)
            this.comments = json

      })
      },
  },

  mounted: function(){
      this.fetchPost()
      this.fetchComments()
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
