<template>
    <div id="app">
    <router-link to="/kalkulator">Kalkulator</router-link>
    <router-link to="/lokata">Lokata</router-link>
    <router-link to="/wordpressposts">WordpressPosts</router-link>
    <router-link to="/todo">ToDo</router-link>
    <router-link to="/todov2">ToDoV2</router-link>
    <router-view></router-view>
    
  </div>

</template>

<script>

export default {
  name: 'app',
  components: {
    
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body{
    background-image: url('./assets/sub3.jpg');
    /* //background-color: blueviolet; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

</style>
